// Funky theme
// $bright: #FF5A5F;
// $alt: #CC484C;
// $pale: #FFEEEF;
// $color1: #087E8B;
// $color2: #0B3954;

// Business theme
$bright: #0B3954;
$alt: #082D43;
$pale: #CED7DC;
$color1: #fff;
$color2: #fff;
$contrast-bg: #000;



$table-background: #fff;
$header-background: #fdfdff;
$text: #000;
$gradient: linear-gradient($color1, $color2);

$side-padding: 3vw;

$border-radius: 10px;
$border: solid 5px $bright;
$font-family: 'Alata', sans-serif;
