$table-background: #fff;
$header-background: #fdfdff;
$text: #000;
$gradient: linear-gradient(#087E8B, #0B3954);

$side-padding: 3vw;

$border-radius: 10px;
$border: solid 5px #FF5A5F;
$font-family: 'Alata', sans-serif;
